extends layout

block content
  .container
    .text-center.mt-2
      h1= "Oops! Something went wrong."
      if error
        h2 Error Details:
        - if (error.message === "Cannot read properties of undefined (reading 'gameID')")
          .alert.alert-danger
            p 
              strong Game is not found
        - else if (error.message === "The request is missing a valid API key.")
          .alert.alert-danger 
            p 
              strong Invalid Youtube API key.
        - else
          .alert.alert-danger
            p
              strong #{error.message}
        h2 What can you do?
        - if (error.status === 404) // Check if the error status is 404
          .alert.alert-info
            p This page is not found. Please check the URL and try again.
        - else if (error.message === "Steam ID is not found")
          .alert.alert-info
            p Make sure the Steam ID is exactly 17 digits and check the Steam ID entered again.
        - else if (error.message === "Cannot read properties of undefined (reading 'gameID')")
          .alert.alert-info
            p This game is not found. Please check the URL and try again.
        - else if (error.message === "The request is missing a valid API key.")
          .alert.alert-info 
            p Enter a valid Youtube API key.
        - else if (error.message === "Page not found")
          .alert.alert-info 
            p Make sure the wishlist page is valid and not below or past the minimum or maximum page
        - else
          .alert.alert-info
            p
              | It seems like there was an error while processing your request.
              | Please try again later.
      else
        .alert.alert-danger
          h2 An error occurred. Please try again later.
